
/* em values- RELATIVE depends on the parent */
/* 1em= 16px default browser style */
/* 1em= base value */
/* in this case 2em= 32px */
/* em values depend on the parent container */
/*  you can change the default browser style in the settings*/

div{
 font-size: 10px;
}
.relative{
 font-size: 2em;
}

.absolute{
 font-size: 32px;
}